.members {
    /*display: flex;
    flex-direction: column;*/
    width: 200px;
}

.member {
    max-width: 100px;
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0;
    background-color: lightgrey;
    box-shadow: 2px 2px 3px #888888;
}

    .member:hover {
        background-color: ActiveBorder;
        cursor: pointer;
        box-shadow: 3px 3px 5px #777777;
    }

    .member img {
        max-height: 50px;
    }

.personController {
    display: flex;
    /*flex-direction: column;*/
}

    .personController section {
        padding: 20px;
    }