<!DOCTYPE html>
<html>
<head>
    <title>Room Application</title>
    <meta charset="utf-8" />

    <!--libraries-->
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>
    <script src="../lib/ui-bootstrap-0.13.4.js"></script>
    <!--<script src="../lib/bootstrap-3.3.5/js/bootstrap.js"></script>-->
    <!--app bootstrap-->
    <script src="../scripts/app.js"></script>

    <!--services-->
    <script src="../scripts/services/personService.js"></script>

    <!--controllers-->
    <script src="../scripts/controllers/homeController.js"></script>
    <script src="../scripts/controllers/personController.js"></script>

    <link href="../styles/home.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="roomApp" class="container">
    <script type="text/ng-template" id="typeaheadTemplate.html">
        <a class="typeahead">
            <span ng-Bind-Html="match.label | typeaheadHighlight:query"></span>
            <span ng-Bind-Html="match.label | typeaheadHighlight:query"></span>
            <span ng-Bind-Html="match.label | typeaheadHighlight:query"></span>
            <span ng-Bind-Html="match.label | typeaheadHighlight:query"></span>
        </a>
    </script>

    <nav>
        <a href="#/addPerson">Add</a>
        <a href="#">Home</a>
    </nav>

    <section class="personController" ng-controller="personController">
        <section class="members">
            <div class="member" ng-repeat="person in persons" ng-click="markCurrent(person)">
                <img src="https://cdn3.iconfinder.com/data/icons/users-6/100/3-512.png" />
                <span href="#" ng-bind="person.name"></span>
            </div>
        </section>
        <section class="details">
            <ng-view></ng-view>
        </section>
    </section>
</body>
</html>
