<!DOCTYPE html>
<html>
<head>
    <title>Room Application</title>
    <meta charset="utf-8" />

    <!--libraries-->
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>
    <script src="../lib/ui-bootstrap-0.13.4.js"></script>
    <!--<script src="../lib/bootstrap-3.3.5/js/bootstrap.js"></script>-->

    <!--app bootstrap-->
    <script src="../scripts/app.js"></script>

    <!--services-->
    <script src="../scripts/services/personService.js"></script>

    <!--controllers-->
    <script src="../scripts/controllers/homeController.js"></script>
    <script src="../scripts/controllers/personController.js"></script>

    <link href="../styles/home.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="roomApp" class="container">
    <nav>
        <a href="#/addPerson">home</a>
    </nav>
   
    <script type="text/ng-template" id="typeaheadTemplate.html">
      <a class="typeahead">
          <span ng-Bind-Html ="match.label | typeaheadHighlight:query"></span>
          <span ng-Bind-Html ="match.label | typeaheadHighlight:query"></span>
          <span ng-Bind-Html ="match.label | typeaheadHighlight:query"></span>
          
          <span ng-Bind-Html ="match.label | typeaheadHighlight:query"></span>
      </a>
    </script>   

    <section class="typeahead">
        <span >One</span>
        <span >Two</span>
        <span >Three</span>
    </section>

    <section class="practice container-fluid" ng-controller="homeController">
        <input type="text" placeholder="search provider..." ng-model="tmp.providerName" class="form-control"
            typeahead-template-url="typeaheadTemplate.html"
            typeahead="person.name for person in persons | filter:$viewValue | limitTo:8"/>
    </section>

    <ng-view></ng-view>
</body>
</html>
